github "pusher/pusher-platform-swift" "5bdd72ef9d2635bf00cab618028e05e18031041f"
github "pusher/push-notifications-swift" ~> 2.1.2

# you'll need something like this if working locally and you want
# to test changes to pusher-platform-swift

# git "file:///Users/hami/pusher/pusher-platform-swift" "branch-name"
