github "pusher/pusher-platform-swift" "1a256a8c47399cc131bcbd42dcbf6684dd9cf848"
github "pusher/push-notifications-swift" ~> 2.1.2

# you'll need something like this if working locally and you want
# to test changes to pusher-platform-swift

# git "file:///Users/hami/pusher/pusher-platform-swift" "branch-name"
