github "pusher/pusher-platform-swift" ~> 0.6.1

# you'll need something like this if working locally and you want
# to test changes to pusher-platform-swift

# git "file:///Users/hami/pusher/pusher-platform-swift" "branch-name"
